<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>BlogNest</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        main {
            height: 100%;
            overflow-y: auto;
        }
    </style>
</head>

<body class="bg-white dark:bg-gray-900">
    
    <%- include('../../partials/navbar') %>

    <main class="flex-1">
        <div class="container px-6 py-10 mx-auto">
            <div class="flex items-center justify-between">
                <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">recent posts</h1>

                <div class="hidden mx-10 md:block">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                </path>
                            </svg>
                        </span>

                        <input type="text" id="searchInput"
                            class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                            placeholder="Search" />
                    </div>
                </div>
            </div>

            <hr class="my-8 border-gray-200 dark:border-gray-700" />

            <div id="blogContainer" class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
                <% blogs.forEach(function(blog) { %>
                    <div class="blog-post rounded-lg shadow-2xl">
                        <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80"
                            src="<%= blog.photo.url %>" alt="" />
                        <div class="mt-8 p-4 pt-0">
                            <span class="text-blue-500 uppercase">
                                <%= blog.category?.name || "undefined" %>
                            </span>

                            <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
                                <%= blog.title.length < 45 ? blog.title : blog.title.slice(0,45) + `...`; %>
                            </h1>

                            <p class="mt-2 text-justify text-gray-500 dark:text-gray-400">
                                <%= blog.description.length < 150 ? blog.description : blog.description.slice(0,150)
                                    + `...`; %>
                            </p>

                            <div class="flex items-center justify-between mt-4">
                                <div>
                                    <a href="#"
                                        class="text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500">
                                        <%= blog.author.displayName %>
                                    </a>

                                    <p class="text-sm text-gray-500 dark:text-gray-400">
                                        <%= new Date(blog.date).toLocaleDateString('en-GB') %>
                                            <%= new Date(blog.date).toLocaleTimeString('en-GB') %>
                                    </p>
                                </div>

                                <a href="/blog/<%= blog._id %>/<%= blog.slug %>"
                                    class="inline-block text-blue-500 underline hover:text-blue-400">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>
    <script src="/scripts/home.js"></script>
</body>

</html>
